.link {
    text-decoration: none;
    color: inherit;
}

.cardFooter {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 20svw;
    margin: 20px 0;
}